
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Login.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
<style>
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid #eeeeee;
    }
</style>

<form action="/Userpool/SignInUser" method="post" class="login-form">
    <h1>Login</h1>
    <div class="inputContainer" id="emailInputContainer">
        <input type="email" name="email" id="email">
        <span data-placeholder="Email"></span>
    </div>

    <div class="inputContainer" id="passwordInputContainer">
        <input type="password" name="password" id="password">
        <span data-placeholder="Password"></span>
    </div>

    <input type="submit" class="loginBtn" value="Login">

    <div class="bottom-text">
        <a href="/Home/GuestUser">Continue as guest</a>
        <hr />
        <a href="/Home/Register" class="reg-tag">Register</a>
    </div>
</form>

<script type="text/javascript">
    $(".inputContainer input").on("focus", function () {
        $(this).addClass("focus");
    });

    $(".inputContainer input").on("blur", function () {
        if ($(this).val() == "") {
            $(this).removeClass("focus");
        }
    });
</script>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $(document).ready(function () {
        var msg = getUrlParameter("Msg");

        if (msg == null) {
        } else if (msg == "Success") {
            toastr.success('Successfully registered!');
        } else {
            toastr.error('Error registering!');
        }

    });

    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    }

</script>

