<h1>Standard User</h1>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/gh/recombee/js-api-client@3.0.0/dist/recombee-api-client.min.js"></script>

<button class="btn btn-primary" id="v1" value="item1">View Item 1</button>
<button class="btn btn-success" id="l1" value="item1">Like Item 1</button>
<button class="btn btn-primary" id="v2">View Item 2</button>
<button class="btn btn-success" id="l2">Like Item 2</button>
<input type="hidden" id="user" value="@TempData["name"]"/>

email = @TempData["name"];


<script>
    var user = document.getElementById("user");
    var itemIdBtn = document.getElementById("v1");
    var itemLikeBtn = document.getElementById("l1");
    var client = new recombee.ApiClient('csc-ca2-dev', 'qXgeETH9NFYPL2Z7H590mdV83KM1W57WzbUznD6qRVGm9vG2tIYeIJ4LJvzzEhjP');
    var recomStr;

    itemIdBtn.onclick = function () {
        client.send(new recombee.AddDetailView(user.value, itemIdBtn.value),
            (err, response) => {
                //...
            }
        );
    }

    itemLikeBtn.onclick = function () {
        client.send(new recombee.AddPurchase(user.value, itemLikeBtn.value),
            (err, response) => {
                //...
            }
        );
        sendRecom();
    }

    function sendRecom() {
        var callback = function (err, res) {
            if (err) {
                console.log(err);
                // use fallback ...
                return;
            }           
            console.log(res.recomms);
            recomStr = res.recomms[0].id;
            alert("recommended id:" + recomStr);
        }
        client.send(new recombee.RecommendItemsToUser(user.value, 1), callback);        
    }
    
</script>
