body {
}

.exitAccountContainer {
    position: absolute;
    top: 2%;
    right: 2%;
}

.pageHeader {
    margin: 0 auto 5rem auto;
    padding: 0;
    text-align: center;
    letter-spacing: 15px;
    font-family: 'Myriad Pro';
}

#talentInfoContainer {
    margin-bottom: 5rem;
}

    #talentInfoContainer h3 {
        font-weight: bold;
        margin-left: 5rem;
    }

.imageContainer {
    width: 450px;
    height: 300px;
    border: 3px solid black;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
}

#talentInfoContainer .card-title {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 5rem;
}

#talentInfoContainer .card-text {
    margin-left: 5rem;
}

#recommendations {
    font-size: 2rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    vertical-align: middle;
    margin-left: 2rem;
    color: royalblue;
}

#singleTalentImageURL {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#inlineDiv p, #inlineDiv button {
    display: inline;
}

.card-header {
    display: flex;
}

#singleTalentTitle {
    margin: auto 0;
}

#backBtn {
    margin: auto 0;
    cursor: pointer;
}

    #backBtn i svg {
        height: 2rem;
        width: 2rem;
    }

@@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
}


/*#showCommentsBtn {
    float: right;
    color: white;
}

#commentsSection h4 {
    font-weight: bold;
}

#commentsSection .card-footer {
    display: flex;
}

#commentInput {
    width: 100%;
    margin-right: 2rem;
}

#commentBtn {
}*/